# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution/Packaging
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/

# Pickle files
*.pickle

# Testing/Coverage reports
.coverage
.pytest-cache/
htmlcov/
